{{ define "main" }}
{{ $id := .File.ContentBaseName }}
{{ $teacher := first 1 (where site.Data.teachers "id" $id) }}
{{ if $teacher }}
  {{ with index $teacher 0 }}
    <section>
      <h1>{{ .name | default "Teacher not found" }}</h1>
      <ul>
        <li><b>designation:</b> {{ .designation | default "" }}</li>
        <li><b>department:</b> {{ .department | default "" }}</li>
        <li><b>qualification:</b> {{ .qualification | default "" }}</li>
        <li><b>experience:</b> {{ .experience | default "" }}</li>
        <li><b>joining year:</b> {{ .joining_year | default "" }}</li>
        <li><b>age:</b> {{.age | default ""}}</li>
        <li><b>country:</b> {{ .country | default "" }}</li>
        <li><b>address:</b> {{ .address | default "" }}</li>
      </ul>
    </section>
  {{ else }}
    <p>Teacher data not available.</p>
  {{ end }}
{{ else }}
  <p>Teacher not found.</p>
{{ end }}
{{ end }}